/**
 * sass/variables/colors/black.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2024.05.10)
 * @copyright 2024 (2024.05.10)
**/

// BLACK COLLECTION
    $color-black-rgb: #000000;
    $color-black-rich: #231f20;
    $color-black-neutralrich: #000104;
    $color-black-pantone: #2e2a25;
    $color-black-registration: #000000;
    $color-black-designer: #000000;
    $color-black-photoshop: #000000;
    $color-black-cool: #001423;
    $color-black-warm: #220000;
    $color-black-golden: #1e1b00;