/**
 * sass/variables/media/screens.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2024.05.10)
 * @copyright 2024 (2024.05.10)
**/

// SCREENS
    $screen-xs: $media-col-xs;
    $screen-sm: $media-col-sm;
    $screen-md: $media-col-md;
    $screen-lg: $media-col-lg;
    $screen-xl: $media-col-xl;
    $screen-xxl: $media-col-xxl;