/**
 * sass/variables/media/base.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2024.05.10)
 * @copyright 2024 (2024.05.10)
**/

// SITE WIDTH SETTINGS
    $site-width-min: 90.00%;
    $site-width-max: 100.00%;
    $site-width-content: 1440px;

// @IMPORT | MEDIA FILES
    @import "bootstrap";
    @import "browsers";
    @import "content";
    @import "devices";
    @import "displays";
    @import "menus";
    @import "screens";

// DEFINE | MEDIA QUERIES
    $media-xs: $media-col-xs;
    $media-sm: $media-col-sm;
    $media-md: $media-col-md;
    $media-lg: $media-col-lg;
    $media-xl: $media-col-xl;
    $media-xxl: $media-col-xxl;

// TEMPLATE | MEDIA QUERIES
    // GLOBAL
    // MOBILE
    @media #{$media-xs} {} //.COL-XS
    @media #{$media-sm} {} //.COL-SM
    @media #{$media-md} {} //.COL-MD
    @media #{$device-mobile} {} //.MOBILE

    // DESKTOP
    @media #{$device-desktop} {} //.DESKTOP
    @media #{$media-lg} {} //.COL-LG
    @media #{$media-xl} {} //.COL-XL
    @media #{$media-xxl} {} //.COL-XXL