/**
 * sass/theme/buttons/button-ghost.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2024.05.11)
 * @copyright 2024 (2024.05.11)
**/

#{$button-ghost} {
    // GLOBAL
        background-color: $button-ghost-color;
        border: $button-border-weight solid $button-ghost-text-color;
        color: $button-ghost-text-color;

        &:hover {
            background-color: $button-ghost-hover-color;
            border: $button-border-weight solid $button-ghost-hover-text-color;
            color: $button-ghost-hover-text-color;

            .elementor-button-text {
                color: $button-ghost-hover-text-color;
            } //.ELEMENTOR-BUTTON-TEXT
        } //:HOVER

    // MOBILE
        @media #{$media-xs} {} //.COL-XS
        @media #{$media-sm} {} //.COL-SM
        @media #{$media-md} {} //.COL-MD
        @media #{$device-mobile} {} //.MOBILE

    // DESKTOP
        @media #{$device-desktop} {} //.DESKTOP
        @media #{$media-lg} {} //.COL-LG
        @media #{$media-xl} {} //.COL-XL
        @media #{$media-xxl} {} //.COL-XXL

    .elementor-button-text {
        // GLOBAL
            color: $button-ghost-text-color;
            
        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL
    } //.ELEMENTOR-BUTTON-TEXT

} //.BUTTON-GHOST